/*#sections{
  pointer-events: none;
  opacity: 0;
}
*/

*:focus{
  outline: none;
}
body{
  font-family: "Lato";
}
.container {
  width: 1180px;
}

#graphic {
  padding-top: 60px;
}

#topText{
margin-bottom:30px;
font-size:21px;
font-weight:400;
color:#000;
}


p{
  line-height:1.6;
  margin-bottom:15px !important;
}
#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
  padding-bottom: 20px;
  pointer-events: auto;
}

.step {
  margin-bottom: 200px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 23px;
  color: #000;
}
.smallStep{
  /*margin-bottom: 400px;*/
}
.title{
  font-size:18px;
   margin-top:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
#extra-space {
  height: 0px;
}

#vis {
  display: inline-block;
  z-index: 1;
  margin-left: 0;
  position: relative;
  /*top: 730px;*/
  float: right;
}
#vis svg{
  cursor: pointer;
}
#vis svg.nonInteractive{
  cursor: auto;
}
#vis.posFixed{
  position: fixed;
  top: 20px;
  padding-left: 10px;
}
#vis.posRelTop{
  position: relative;
  float: right;
  padding-left: 10px;
}
#vis.posRelBottom{
  position: relative;
  float: inherit;
  padding-left: 6px;
  /*bottom: 100px;*/
}
#vis.posRelBottomSingleCol{
  position: absolute;
  float: inherit;
  padding-left: 10px;
}
#vis.posRelTopSingleCol{
   position: absolute;
  float: inherit;
  padding-left: 10px; 
}
#clearSelected{
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
  font-style: italic;
  color: #9d9d9d;
  cursor: pointer;
  z-index: 999;
  background: rgba(255,255,255,.8);
  padding: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
#dotChartYAxis path, #dotChartYAxis line{
  display: none;
}
.tick text{
  font-size: 12px;
  font-family: "Lato";
}
.largeChartLabel, .largeScatterplotLabel{
  font-weight: bold;
  letter-spacing: 4px;
  fill: #9d9d9d;
  font-size: 14px;
}
.largeScatterplotLabel.shortGraphLargeLabel{
  letter-spacing: 3px;
}
text.dotChartLegend{
  font-family: "Lato";
  font-size: 12px;
}
.dotHoverRect{
  fill: none;
}
g.dotChartSelected .dotHoverRect{
  fill: #a2d3eb;
  opacity: 1;
}
g.dotChartSelected .dotHoverRect.dotTooltip{
  fill: #fff;
  opacity: .85;
}
g.dotChartClicked .dotHoverRect{
  opacity: .4;
}


.dotHoverText, .dotSumLine{
  opacity: 0;
  font-size: 14px;
}
.dotHoverText.text{
  fill: #9c9c9c;
}
g.dotChartSelected .dotHoverText, g.dotChartSelected .dotSumLine {
  opacity: 1;
}
g.dotChartSelected .dotHoverText.hidden, g.dotChartSelected .dotSumLine.hidden {
  opacity: 0;
}


#scatterPlotXAxis path, #scatterPlotYAxis path, #histXAxis path, #histYAxis path{
  display: none;
}
.axisLabel, .scatterAxisLabel{
  font-size: 14px;
  font-style: italic;
}
.scatterAxis, .histAxis{
  stroke: #333;
}
.scatterGrid, .histGrid{
  stroke: #dcdbdb;
}
.scatterDot{
  fill: #1696d2;
}
.scatterDot.scatterSelected{
  fill: #fdbf11;
  opacity: 1 !important;
}
.scatterDot.scatterClicked{
  fill: #fdbf11;
  opacity: 1 !important;
}
.scatterOutlierLabel{
  font-size: 13px;
  font-weight: bold;
}

#scatterTooltipContainer .stateName, #scatterTooltipContainer .yearName{
  font-weight: bold;
  font-size: 14px;
}
#scatterTooltipContainer .subtitle{
  font-size: 12px;
  font-style: italic;
}
.scatterButton{
    display: block;
    position: absolute;
    bottom: 60px;
    background-color: #f2f2f2;
    color: #333;
    text-transform: uppercase;
    padding: 12px;
    cursor: pointer;
    font-size: 15px;
    border: solid 1px #e1e1e1;
}
.mapButton{
    display: block;

    cursor: pointer;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:5px;
    color:#1696d2;
    font-style:italic;
    font-size:18px
}
.scatterButton.active{
  background-color: #1696d2;
  color: #fff;
}
.scatterButton:hover{
  background-color: #333;
  color: #fff;
}
.scatterButton.nonInteractive{
  display: none;
}
.stateButton{
  left: 130px;
}
.localButton{
  left: 206px;
}
.federalButton{
  left: 287px;
}

circle.morph{
  fill: none;
  stroke: none;
}
.mapImg{
  /*pointer-events: none;*/
}
.mapNY{
    position: absolute;
    top: -73px;
    left: 100px;
    width: 600px;
}
.mapFL{
    position: absolute;
    top: 0px;
    left: 90px;
    width: 600px;
}
.keyLabel{
  font-size: 12px;
}

#isMobile, #isPhone, #isShort, #sectionIndex{
    display: none;
    pointer-events: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-height: 880px){
  #isShort{
    display: block;
  }
  .mapFL{
    top: 19px;
    left: 180px;
    width: 473px;
  }
  .mapNY{
    top: -43px;
    left: 180px;
    width: 473px;
  }
  .scatterButton{
    bottom: 80px;
  }
}

@media (max-height: 667px) , (max-width: 768px){
  #isPhone{
    display: block;
  }
  #clearSelected{
    display: none;
  }
  #dotChartYAxis .tick text{
    font-size: 10px;
  }
  .largeChartLabel, .largeScatterplotLabel {
    letter-spacing: 1px;
    font-size: 13px;
  }
  .mapNY {
    top: 50px;
    left: 17px;
    width: 280px;
  }
  .mapFL {
    top: 110px;
    left: 19px;
    width: 270px;
  }
  .scatterButton:hover{
    background-color: #f2f2f2;
    color: #333;
  }
  .scatterButton.active{
    background-color: #1696d2 !important;
    color: #fff !important;
  }
  .scatterButton{
    bottom: 80px;
  }
  .stateButton{
    left: 0px;
  }
  .localButton{
    left: 96px;
  }
  .federalButton{
    left: 196px;
  }
  .largeScatterplotLabel{
    display: none;
  }
}

@media (max-width: 1200px){
  .container{
    margin-left: 10px;
  }
}
@media (max-width: 1170px){
  .container{
    margin-left: auto;
    width: 100%;
  }
  #isMobile{
    display: block;
  }
#extra-space {
  height: 680px;
  z-index: -1;
}
  #sections{
    display: inherit;
    width: 400px;
    margin: 0 auto;
    pointer-events: none;
  }
  .mapButton{
    display: none;
  }
  .step {
    margin-bottom: 1000px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(136, 136, 136) 4px 4px 16px;
    padding: 30px;
    z-index: 2;
  }
  .step.lastStep{
    margin-bottom: 0px;
  }
  #vis{
    /*position: fixed;*/
    /*top: 20px;*/
  }
}
@media (max-width: 768px){
  .step {
    margin-bottom: 1200px;
  }
}
@media (max-width: 500px){
  #sections{
    width: 260px;
    pointer-events: none;
  }
}

.dotChartLine {
  stroke: #e3e3e3;
  stroke-width: 3;
}
.federalLine{
  stroke: #e3e3e3;
  stroke-width: 3;
}
.zeroLine{
  stroke: black;
}
.stateDot, .legendStateDot{
  fill: #46abdb;
}
.localDot, .legendLocalDot{
  fill: #12719e;
}
.federalDot, .legendFederalDot{
  fill: #062635;
}
.totalDot, .legendTotalDot{
  fill: #ec008b;
}



/********header (below urban menu)**********/
   

.headerimage{
     position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
  z-index:-1;
 
}

.headerwrapper{
  padding-top:120px;
}

#heroimage{
   background-image: url("../images/raceandethnicity-banner.jpg");
     background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}


.div-title-block
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  width:90%;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4em;
  font-size: 2.3em;
  margin: auto;
}



/*browser windows smaller than 850px*/
@media (max-width: 600px) {
   .headerimage{ height:300px;}
   .div-title-block {
    font-size: 1.6em !important;
   }
}

@media (max-width: 991px) {
   
   .headerwrapper{padding-top:125px;}
   
}

@media  (max-width: 480px) {
  .full-width-col { font-size:18px;}
   .container {margin-bottom: 40px; padding:0px 4px;}
   .headerimage{width: 100%; height: 300px;}
   .headerwrapper{padding-top:80px;}
   h1 { font-size:24px;}
 
}


