*:focus{
  outline: none;
}
body{
  font-family: "Lato";
}
.container {
  width: 1180px;
}

#graphic {
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
  padding-bottom: 20px;
}

.step {
  margin-bottom: 200px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 23px;
  color: #000;
}
.title{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  z-index: 1;
  margin-left: 0;
  position: absolute;
  top: 730px;
}
#vis.posFixed{
  position: fixed;
  top: 20px;
}
#vis.posRel{
  position: relative;
}
.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
#dotChartYAxis path, #dotChartYAxis line{
  display: none;
}
.tick text{
  font-size: 12px;
  font-family: "Lato";
}
.largeChartLabel, .largeScatterplotLabel{
  font-weight: bold;
  letter-spacing: 4px;
  fill: #9d9d9d;
  font-size: 14px;
}

text.dotChartLegend{
  font-family: "Lato";
  font-size: 12px;
}
.dotHoverRect{
  fill: none;
}
g.dotChartSelected .dotHoverRect{
  fill: #fff2cf;
}


#scatterPlotXAxis path, #scatterPlotYAxis path, #histXAxis path, #histYAxis path{
  display: none;
}
.axisLabel{
  font-size: 12px;
  font-style: italic;
}
.scatterAxis, .histAxis{
  stroke: #333;
}
.scatterGrid, .histGrid{
  stroke: #dcdbdb;
}
.scatterDot{
  fill: #1696d2;
}
.scatterDot.scatterSelected{
  fill: #fdbf11;
  opacity: 1 !important;
}
.scatterButton{
    position: absolute;
    bottom: 60px;
    background-color: #f2f2f2;
    color: #333;
    text-transform: uppercase;
    padding: 12px;
    cursor: pointer;
    font-size: 15px;
    border: solid 1px #e1e1e1;
}
.scatterButton.active{
  background-color: #1696d2;
  color: #fff;
}
.scatterButton:hover{
  background-color: #333;
  color: #fff;
}
.stateButton{
  left: 130px;
}
.localButton{
  left: 206px;
}
.federalButton{
  left: 287px;
}

.mapImg{
  pointer-events: none;
}
.mapNY{
    position: absolute;
    top: 0px;
    left: 130px;
    width: 600px;
}
.mapFL{
    position: absolute;
    top: 0px;
    left: 130px;
    width: 600px;
}
.keyLabel{
  font-size: 12px;
}

#isMobile, #isPhone, #sectionIndex{
    display: none;
    pointer-events: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}
@media (max-width: 1200px){
  .container{
    margin-left: 10px;
  }
}
@media (max-width: 900px){
  .container{
    margin-left: auto;
    width: 100%;
  }
  #isMobile{
    display: block;
  }
  #sections{
    display: inherit;
    width: 400px;
    margin: 0 auto;
  }
  .step {
    margin-bottom: 600px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(136, 136, 136) 4px 4px 16px;
    padding: 30px;
    z-index: 2;
  }
  #vis{
    position: fixed;
    top: 20px;
  }
}
@media (max-width: 600px){
  #isPhone{
      display: block;
  }
  .step {
    margin-bottom: 300px;
  }
  #vis{
    /*margin-top: -300px;*/
  }
}
@media (max-width: 500px){
  #sections{
    width: 300px;
  }
}

.dotChartLine {
  stroke: #dcdbdb;
  stroke-width: 3;
}
.federalLine{
  stroke: #9d9d9d;
  stroke-width: 1;
}
.zeroLine{
  stroke: black;
}
.stateDot, .legendStateDot{
  fill: #1696d2;
}
.localDot, .legendLocalDot{
  fill: #a2d4ec;
}
.federalDot, .legendFederalDot{
  fill: #062635;
}
.totalDot, .legendTotalDot{
  fill: #ec008b;
}



/********header (below urban menu)**********/
   

.headerimage{
     position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
  z-index:-1;
 
}

.headerwrapper{
  padding-top:120px;
}

#heroimage{
   background-image: url("../images/raceandethnicity-banner.jpg");
     background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}


.div-title-block
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  width:90%;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4em;
  font-size: 2.3em;
  margin: auto;
}



/*browser windows smaller than 850px*/
@media (max-width: 600px) {
   .headerimage{ height:300px;}
   .div-title-block {
    font-size: 1.6em !important;
   }
}

@media (max-width: 991px) {
   
   .headerwrapper{padding-top:125px;}
   
}

@media  (max-width: 480px) {
  .full-width-col { font-size:18px;}
   .container {margin-bottom: 40px; padding:0px 4px;}
   .headerimage{width: 100%; height: 300px;}
   .headerwrapper{padding-top:80px;}
   h1 { font-size:24px;}
 
}


/**************** FOOTER *****************/
/*footer*/

footer {
    background-color: #f1f2f2;
    margin-top: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    bottom: 0;
   overflow: hidden;
     height:auto;
 
}

footer .content{
  
    max-width: 1100px;

    
   
    
}

#left {
  float: left;
  width: 45%;
  padding-left: 0px;
  padding-right:0px;

}

#right {

  float: right;
  width: 45%;
   padding-right: 0px;
  padding-left: 0px;
    font-size:14px;
    line-height: 1.3;
}



footer p {
    font-size: 14px;
}

footer h2 {
    text-transform: uppercase;
     font-weight: 700;
}

footer h3, footer h4{
   font-weight: 700; 
}

.credits {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 16px;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 12px;
}

.urbanstatement {
    font-style: italic;
    color: #666666;
    font-size: 13px;
    margin-bottom: 1em;
}


